/*For Default tag*/
*{
    font-size: 18px;
}
div{
    display: block;
    overflow: hidden;
}
a, a:hover{
    text-decoration: none;
    color: #2b669a;
}
.textArea {
    height: 30px;
    width: 410px;
    min-height: 30px;
    min-width: 30px;
    max-height: 70px;
    max-width: 410px;
}
/*For All From*/
.main-body {
    background: #6498FE;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    width: 750px;
    color: white;
}
.header {
    height: auto;
    width: 100%;
    background: #337AB7;
    text-align: center;
    overflow: hidden;
}
.header h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 5px 0 0 0;
}
.notification {
    height: 70px;
    width: auto;
    padding: 10px;
}
.message h3 {
    margin-top: -5px;
    font-size: 30px;
    color: #5bda33;
}
.form {
    padding: 50px 100px;
    color: white;
    width: 800px;
    margin: 20px auto;
    background: #4cbbf8;
    border-radius: 10px;
}
/*For image/create.php*/
.file {
    width: 250px;
    margin: 5px auto;
}
.file-group{
    margin: 30px;
}

/*For hobbies/create.php*/
.all-check-box {
    height: auto;
    width: 200px;
    margin: 0 auto 15px 220px;
}
.all-check-box input[type="checkbox"] {
    margin: 10px;
}
/*For city/create.php*/
.selectPenal{
    color: black;
    text-align: center;
}
.selectPenal select{
    width: 250px;
    margin: 25px auto;
}

/*For Index.PHP*/
body{
    background: url(../images/bac.jpg);
}
.site_body{
    background: url(../images/headBG.png) repeat-x scroll center bottom;
}
.main-content{
    width: 1200px;
    margin: 0 auto;
    background: #084094;
    border-radius: 0 0 20px 20px;
}
.head{
    border-top: 5px solid #00a1ff;
    background: url(../images/headBG.png);
    text-align: center;
    height: auto;
}
.head h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.homeHead {
    margin-bottom: 35px;
}
.menu{
    margin-bottom: 20px;
}
.menu a{
    color: white;
}
.all-item {
    height: auto;
    width: 1000px;
    margin: 0 auto;
}
.project-block {
    height: 225px;
    width: 180px;
    text-align: center;
    float: left;
    margin: 15px 35px;
    color: white;
}
.project-block a:hover,.project-block a:focus {
    text-decoration: none;
}
.img{
    width: 130px;
    height: 130px;
    background: #337AB7;
    border-radius: 50%;
    margin-bottom: 10px;
}
.img img{
    width: 70px;
    height: auto;
    margin: 30px;
}
.description {
    height: auto;
    width: 600px;
    margin: 15px auto;
    background: #d6dad3;
    padding: 15px 0;
    border-radius: 20px;
    color: #337AB7;
    font-weight: bold;
    line-height: 15px;
}
.Side {
    float: left;
    width: 180px;
    margin-left: 150px;
}
.footer {
    height: 100px;
    text-align: center;
}
.footer h4{
    margin: 40px auto;
}
.showImage h2{
    color: white;
    font-weight: bold;
}
.showImage img{
    height: 250px;
    width: 350px;
}
.viewTable{
    margin-top: 30px;
}